<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<property name="LOG_HOME" value="${user.home}/logs/interstellar" />
	

	<appender name="interstellar"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/interstellar.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
			</Pattern>
		</encoder>

<!-- 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
			<!-- rollover daily -->
<!-- 			<fileNamePattern>${LOG_HOME}/archived/interstellar.%d{yyyy-MM-dd}.%i.log.gz -->
<!--                         </fileNamePattern> -->
<!-- 			<timeBasedFileNamingAndTriggeringPolicy -->
<!-- 				class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"> -->
<!-- 				<maxFileSize>100MB</maxFileSize> -->
<!-- 				<MaxHistory>90</MaxHistory> -->
<!-- 				<totalSizeCap>10GB</totalSizeCap> -->
<!-- 			</timeBasedFileNamingAndTriggeringPolicy> -->
<!-- 		</rollingPolicy> -->

	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.san.geospatial" level="INFO" additivity="false">
		<appender-ref ref="interstellar" />
		<appender-ref ref="STDOUT" />
	</logger> 
	

	
	<root level="INFO">
		<appender-ref ref="interstellar" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>